.about_content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	flex-direction: row-reverse;
	width: 80%;
	gap: 30px;
	height: 100vh;
	margin: 0 auto;
}

.about_content .me_img img {
	border-radius: 50%;
	height: 400px;
	width: 400px;
	object-fit: cover;
}
